/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

a
{
	cursor: pointer;
    color: #FF5C0A;
}


body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #FFFF0A;
    text-shadow: none;
}

::selection {
    background: #FFFF0A;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
	border-radius: 5%; /* Borde redondeado */
}
.cv_space{
	margin:10px;
	
}
.cv_space img{
	border-radius: 0px; /* Borde redondeado */

}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 14px/24px sans serif, Helvetica Neue, Arial;
    background:#f1f1f1 url(../img/pattern_gear2.png) repeat top left;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    /*border-bottom: 20px solid #A67E07;*/
    margin-bottom: 15px;
}

.footer-container,
.aside aside {
    /*border-top: 20px solid #A67E07;*/
}

.header-container,
.footer-container,
.aside aside {

    background:#f1f1f1 url(../img/pattern_gear2_i.png) repeat top left;
}

.title {
    font-size:45px;
    color: yellow;
    font-family: 'mailart_rubberstampregular';
    font-weight: normal;
}

.title_header {
    font-size:10px;
    color: #FF5C0A;
    font-family: 'square_pixel-7';
    font-weight: normal;
}


.titulo_header{
	border-bottom:1px dotted orange; 
	padding-bottom:10px;
}

.titulo_header img{
	width:50px; 
	margin:5px;
	border-radius: 100%;
	border: 1px solid gray;
}

.left{
	float:left;
}

.margin_10
{
	margin:10px;
}

.margin_left_10{	
	margin-left:10px;
}
.menu_articulo{
	margin-bottom: 10px;
}

.autor{
	font-size: 0.9em;
	color:	#FF5C0A;
	}

.right{
	float:right;
}

.clear{
	clear:both;
}

.fecha{
	font-style: italic;
}

.selectable{
	cursor: pointer;
}

h1 {
}

 h1.title {  
  position: relative;  
  font-size: 5em; 
  margin: 20px 20px 20px 0;
  font-family: 'mailart_rubberstampregular', helvetica, arial;  
 }  

 h1.title a {  
  text-decoration: none;  
  color: #F2B80A;  
  position: absolute;  
    
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));  
 }  

 h1.title:after {  
  content : 'SOLUCIONES .NET';  
  color: #F2B80A;  
  text-shadow: 0 3px 0 #A67E07;  
 }  



/* ==============
    MOBILE: Menu
   ============== */
nav{
display: none;	
	}
nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #FF5C0A;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

a:hover {
	font-size: 1.1em;
	text-shadow:0 0 3px #FF0000;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 10px;
    margin-bottom: 10px;
    /*background:#f1f1f1 url('../img/pattern_main.png') repeat top left;*/
	 border:1px solid #A67E07;
	 margin-bottom: 10px !important;
    
    background:#ffffff;
    /*border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-box-shadow: 0 8px 10px #A67E07;
    -moz-box-shadow: 0 8px 10px #A67E07;*/
    box-shadow: 0 8px 10px #A67E07;
                
}


.article_font  {
    font: 14px 'quattrocento_sansregular', sans serif, Helvetica Neue, Arial;
}

.main article h1 {
    font-size: 2em;
    font-weight:normal;
    font-family: 'mailart_rubberstampregular';
}

.aside aside {
    color: white;
    padding: 0px 10px 0px;
    margin:10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 3, 2013 */



@font-face {
    font-family: 'galaxy_monkeyregular';
    src: url('galaxy-webfont.eot');
    src: url('galaxy-webfont.eot?#iefix') format('embedded-opentype'),
         url('galaxy-webfont.woff') format('woff'),
         url('galaxy-webfont.ttf') format('truetype'),
         url('galaxy-webfont.svg#galaxy_monkeyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'square_pixel-7';
    src: url('square_pixel-7.eot');
    src: url('square_pixel-7.eot?#iefix') format('embedded-opentype'),
         url('square_pixel-7.woff') format('woff'),
         url('square_pixel-7.ttf') format('truetype'),
         url('square_pixel-7.svg#square_pixel-7') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arcadeclassicregular';
    src: url('arcadeclassic-webfont.eot');
    src: url('arcadeclassic-webfont.eot?#iefix') format('embedded-opentype'),
         url('arcadeclassic-webfont.woff') format('woff'),
         url('arcadeclassic-webfont.ttf') format('truetype'),
         url('arcadeclassic-webfont.svg#arcadeclassicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'mailart_rubberstampregular';
    src: url('mailr-webfont.eot');
    src: url('mailr-webfont.eot?#iefix') format('embedded-opentype'),
         url('mailr-webfont.woff') format('woff'),
         url('mailr-webfont.ttf') format('truetype'),
         url('mailr-webfont.svg#mailart_rubberstampregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quattrocento_sansregular';
    src: url('quattrocentosans-regular-webfont.eot');
    src: url('quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('quattrocentosans-regular-webfont.woff') format('woff'),
         url('quattrocentosans-regular-webfont.ttf') format('truetype'),
         url('quattrocentosans-regular-webfont.svg#quattrocento_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** Generated by FG **/
@font-face {
	font-family: 'TGL';
	src: url('TGL 31034-1.eot');
	src: local('?'), url('TGL 31034-1.woff') format('woff'), url('TGL 31034-1.ttf') format('truetype'), url('TGL 31034-1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.subtitle {
	clear:both;
	float:left;
	font-family: Helvetica;
	/*font-size: 1.1em;*/
	color: #FF5C0A;
}

.glow img{ opacity: 0.8; border: 5px solid #eee; /*Transition*/ -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; } 
.glow img:hover { opacity: 1; /*Glow*/ -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); box-shadow: 0px 0px 20px rgba(255,255,255,0.8); }

.aboutme
{
	margin-top: 30px;
	opacity: 1; 
	background:transparent url(../img/yo_aureola.png) no-repeat top left;
	width: 80px;
	height: 100px;
	background-size: 100%;
	cursor:pointer;
	border-radius:10px 10px 0px 0px;
	float: right;
	display: inline-block;
}

.linkbox
{
	/*margin-top:30px;*/
	opacity: 1; 
	width: 40px;
	height: 40px;
	cursor:pointer;
	float: right;
	display: inline-block;
}

.linkbox.github
{
	background:transparent url(../img/github_128.png) no-repeat top left;
	background-size: 100%;
}

.linkbox.facebook
{
	background:transparent url(../img/facebook_128.png) no-repeat top left;
	background-size: 100%;
}

.linkbox.email
{
	background:transparent url(../img/email_128.png) no-repeat top left;
	background-size: 100%;
}

.linkbox.googleplus
{
	background:transparent url(../img/googleplus_128.png) no-repeat top left;
	background-size: 100%;
}

.linkbox.twitter
{ 
	background:transparent url(../img/twitter_128.png) no-repeat top left;
	background-size: 100%;
}

.linkbox.linkedin
{
	background:transparent url(../img/linkedin_128.png) no-repeat top left;
	background-size: 100%;
}

.aboutme:hover
{
	width: 80px;
	height: 100px;
	opacity: 1; 
	background:transparent url(../img/yo_aureola_hover.png) no-repeat top left;
	background-size: 100%;
}

.aboutme img{  opacity: 0.8; /*Transition -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; */} 
.aboutme img:hover { opacity: 1; /*Glow -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); box-shadow: 0px 0px 20px rgba(255,255,255,0.8); */}



#pswd_info {
 display:none;
 }


#container ul, li {
	margin:0;
	padding:0;
	list-style-type:none;
}
#container {
	width:400px;
	padding:0px;
	background:#fefefe;
	margin:0 auto;
	border:1px solid #c4cddb;
	border-top-color:#d3dbde;
	border-bottom-color:#bfc9dc;
	box-shadow:0 1px 1px #ccc;
	border-radius:5px;
	position:relative;
}
#container h1 {
	margin:0;
	padding:10px 0;
	font-size:24px;
	text-align:center;
	background:#eff4f7;
	border-bottom:1px solid #dde0e7;
	box-shadow:0 -1px 0 #fff inset;
	border-radius:5px 5px 0 0; /* otherwise we get some uncut corners with container div */
	text-shadow:1px 1px 0 #fff;
}
#container div ul li {
	margin:10px 20px;

}
#container div ul li:last-child {
	text-align:center;
	margin:20px 0 25px 0;
	}
#container input {
	padding:10px 10px;
	border:1px solid #d5d9da;
	border-radius:5px;
	box-shadow: 0 0 5px #e8e9eb inset;
	width:328px; /* 400 (#container) - 40 (li margins) -  10 (span paddings) - 20 (input paddings) - 2 (input borders) */
	font-size:1em;
	outline:0; /* remove webkit focus styles */
}
#container input:focus {
	border:1px solid #b9d4e9;
	border-top-color:#b6d5ea;
	border-bottom-color:#b8d4ea;
	box-shadow:0 0 5px #b9d4e9;
	}
#container label {
	color:#555;
}
#container span {
	background:#f6f6f6;
	padding:3px 5px;
	display:block;
	border-radius:5px;
	margin-top:5px;
}
#container button {
	background: #57a9eb; /* Old browsers */
	background: -moz-linear-gradient(top, #57a9eb 0%, #3a76c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57a9eb), color-stop(100%,#3a76c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #57a9eb 0%,#3a76c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #57a9eb 0%,#3a76c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #57a9eb 0%,#3a76c4 100%); /* IE10+ */
	background: linear-gradient(top, #57a9eb 0%,#3a76c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a9eb', endColorstr='#3a76c4',GradientType=0 ); /* IE6-9 */
	border:1px solid #326fa9;
	border-top-color:#3e80b1;
	border-bottom-color:#1e549d;
	color:#fff;
	text-shadow:0 1px 0 #1e3c5e;
	font-size:.875em;
	padding:8px 15px;
	width:150px;
	border-radius:20px;
	box-shadow:0 1px 0 #bbb, 0 1px 0 #9cccf3 inset;
}
#container button:active {
	background: #3a76c4; /* Old browsers */
	background: -moz-linear-gradient(top, #3a76c4 0%, #57a9eb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a76c4), color-stop(100%,#57a9eb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3a76c4 0%,#57a9eb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3a76c4 0%,#57a9eb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3a76c4 0%,#57a9eb 100%); /* IE10+ */
	background: linear-gradient(top, #3a76c4 0%,#57a9eb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a76c4', endColorstr='#57a9eb',GradientType=0 ); /* IE6-9 */
	box-shadow:none;
	text-shadow:0 -1px 0 #1e3c5e;
}
#pswd_info {
	position:absolute;
	top:230px;
	right:55px;
	width:250px;
	padding:15px;
	background:#fefefe;
	font-size:.875em;
	border-radius:5px;
	box-shadow:0 1px 3px #ccc;
	border:1px solid #ddd;
}
#pswd_info h4 {
	margin:0 0 10px 0;
	padding:0;
	font-weight:normal;
}
#pswd_info::before {
	content: "\25B2";
	position:absolute;
	top:-12px;
	left:45%;
	font-size:14px;
	line-height:14px;
	color:#ddd;
	text-shadow:none;
	display:block;
}
#container .invalid {
	background:url(cancel.png) no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:#ec3f41;
}
#container .valid {
	background:url(accept.png) no-repeat 0 50%;
	padding-left:22px;
	line-height:24px;
	color:#3a7d34;
}	
#pswd_info {
	display:none;
}	







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .aside aside {
        -webkit-box-shadow: 0 8px 10px #A67E07;
           -moz-box-shadow: 0 8px 10px #A67E07;
                box-shadow: 0 8px 10px #A67E07;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .aside aside {
        float: right;
        width: 35%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.fb-comments{width: 100% !important;}
.fb-comments iframe[style]{width: 100% !important;}
.fb-like-box{width: 100% !important;}
.fb-like-box iframe[style]{width: 100% !important;}
.fb-comments span{width: 100% !important;}
.fb-comments iframe span[style]{width: 100% !important;}
.fb-like-box span{width: 100% !important;}
.fb-like-box iframe span[style]{width: 100% !important;} 

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    
    .no_print{
		display:none;    	
    	}

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
		
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
	
	

}
