<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>SOLUCIONES.NET por DBR</title>

		<meta property="og:title" content="SOLUCIONES.NET por DBR" />
		<meta property="og:description" content="Soluciones sobre el mundo de la programación.(.NET, Android, ASP.NET, Javascript, SQL, otros). Por David Benito." />
		<meta property="og:image" content="http://dl.dropboxusercontent.com/u/161530822/BlogDBR/img/robot_logo.png" />
		
		
		<link rel="stylesheet" href="css/normalize.min.css"/>
		<link rel="stylesheet" href="css/main.css"/>
		
		<script type="text/javascript" src="js/vendor/jquery-1.9.1.min.js"></script>
		
		<script type="text/javascript" src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script type="text/javascript" src="syntaxhighlighter/scripts/shCore.js"></script>
		<script type="text/javascript" src="syntaxhighlighter/scripts/shBrushJScript.js"></script>
		<script type="text/javascript" src="syntaxhighlighter/scripts/shBrushJava.js"></script>	
		<script type="text/javascript" src="syntaxhighlighter/scripts/shBrushCSharp.js"></script>	
		<script type="text/javascript" src="syntaxhighlighter/scripts/shBrushXml.js"></script>		
		<link type="text/css" rel="stylesheet" href="syntaxhighlighter/styles/shCoreDefault.css"/>
		<link type="text/css" rel="stylesheet" href="syntaxhighlighter/styles/shThemeDefault.css"/>
		
		<script type="text/javascript" src="js/backbone/underscore-min.js"></script>
		<script type="text/javascript" src="js/backbone/backbone-min.js"></script>
		
		<script type="text/javascript" src="js/xml2json.js"></script>
		
		
    	<script type="text/javascript" src="src/views/entrada_view.js"></script>
    	<script type="text/javascript" src="src/models/entrada_model.js"></script>
    	<script type="text/javascript" src="src/app.js"></script>
    	
    	
	</head>
    <body>
		<div id="fb-root"></div>
	    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->    
		<div class="header-container">
            <header class="wrapper clearfix">
				<a style="text-decoration:none;" href='#/index'>
					<div class="left">
						<h1 style="margin:0px;"><img alt="SOLUCIONES .NET" src="img/Titulo.png" style="margin:0px;"> </img>
						</h1>
						<div class="subtitle">Soluciones sobre el mundo de la programación.(.NET, Android, ASP.NET, Javascript, SQL, otros). Por David Benito.
					</div>
				</a>
                <nav>
                    <ul>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
                        <li><a href="#">nav ul li a</a></li>
					</ul>
				</nav>
				
				</div>
				<!--href='#/aboutme'-->
				<a style="text-decoration:none;" >
					<div class="aboutme"></div>
				</a>
				<a style="text-decoration:none; margin-right: 30px;" href="mailto:dabenito@gmail.com">
					<div title="email" class="linkbox email"></div>
				</a>
				<a style="text-decoration:none" href="https://github.com/Picatoste">
					<div title="github" class="linkbox github"></div>
				</a>
				<!--<a style="text-decoration:none">
					<div class="linkbox-facebook"></div>
				</a>-->
				<a style="text-decoration:none" href="http://www.linkedin.com/pub/david-benito-ram%C3%ADrez/28/94/9a8">
					<div  title="linkedin" class="linkbox linkedin"></div>
				</a>
				<a style="text-decoration:none" href="https://twitter.com/D_Benito">
					<div title="twitter"  class="linkbox twitter"></div>
				</a>
				<a style="text-decoration:none" href="https://plus.google.com/u/0/b/104335251923122326505/104335251923122326505/posts">
					<div title="google+"  class="linkbox googleplus"></div>
				</a>
				
			</header>
		</div>
        <div class="main-container">
            <div id="main" class="main wrapper clearfix">
	            <div id="app-main">
					<div id="app"></div>
						<div class="aside">
							<aside>
								<!-- <h3>SOLUCIONES</h3> -->
								<div id="ui"></div>
								<div id="app-side"></div>
							</aside>
					</div>
				</div>
				<div id="app-aboutme" class="cv_space" style="display:none;">
					<img class="cv_space" src="img/cv_space.png">
				</div>
			</div> <!-- #main -->
		</div> <!-- #main-container -->
		
        <div class="footer-container">
            <footer class="wrapper">
                <!-- <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.es_ES"><img alt="Licencia de Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Soluciones DBR</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.es_ES">Creative Commons Reconocimiento 3.0 Unported License</a>. -->
                <a href="http://bluefish.openoffice.nl/">
				<img alt="Made with Bluefish HTML editor."  height="31" width="88" src="img/bluefish_button_created_88x31.png"></img>                
                </a>
			</footer>
		</div>
		
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
		
        <script src="js/main.js"></script>
		
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
				g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
	<!-- underscore templates -->
	<script type="text/template" id="searchTemplate">
	<h2 class='titulo_header'>Otras soluciones</h2>
	<p>
		<input id="titulo" onKeyUp="onTituloFilter()" value='<%= filter %>'/>
		<strong>Buscar</strong>		
	<!--<strong>Ordenar</strong>
		<select onChange="onChangeSortOrder()" id="sortField">
			<option <% if(sortField === "titulo"){ %> selected <% } %> value="titulo">Titulo</option>
			<option <% if(sortField === "autor"){ %> selected <% } %> value="autor">Autor</option>
		</select>
		<select onChange="onChangeSortOrder()" id="sortOrder">
			<option <% if(sortOrder === "asc"){ %> selected <% } %> value="asc">Ascendente</option>
			<option <% if(sortOrder === "desc"){ %> selected <% } %> value="desc">Descendente</option>
		</select>-->
	</p>
</script>
<script type="text/template" id="itemTemplate">
	<div class='glow aside_item'>
	<a style="text-decoration:none;" href='#/solucion/<%= id %>'>
	<div class='article_font' style='margin-bottom:10px;'>
		<div class='left'>
			<h4 style="margin: 0px;">
				<%= titulo %>
			</h4>
		</div>
	</div>
	</a>
	<div class='right' style='font-size:0.9em;'>
		by <strong><%= autor %></strong>
	</div>
	<div class='left article_font' style='padding-bottom: 30px;'>
		<div class='left' style='padding:8px;'>
			<a style="text-decoration:none;" href='#/solucion/<%= id %>'>
			<img  src='<%= imagen %>'></img>
			</a>
		</div>
		<div style='padding:8px;'>
			<%= header %>
		</div>
	</div>
	</div>
</script>

<script type="text/template" id="fichaTemplate">
	<div> 	
 	<article>
	<header>
	<h1 class="left titulo_header">
		<img id="imageSolucion" src='<%= imagen %>'></img>
		<%= titulo %>
	</h1>
	<div class="right" style="margin-top: 20px;"><div class="fb-like" data-href="<%= url_public %>" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div></div>',
<div class="menu_articulo left clear">
	<div class="left">
		<a class="selectable" href='#/soluciones/'><img src="img/back_orange.png" title="Volver" 		alt="Volver"></img></a>   
	</div>
	<div class="left margin_left_10">
		<img class="right selectable" onclick="javascript:window.print();" src="img/print_orange.png"	title="Imprimir" alt="Imprimir"></img>				  
	</div>
	<div class="left margin_left_10"  id="share-item"></div>	
</div>
<div class="menu_articulo right autor article_font">
	<div class="right">			           	
		<img src="img/user_orange.png"></img> 
		<%= autor %> 
	</div>
	<div class="clear right">			         
		<img src="img/clock_red.png"></img>
		<span class="fecha">
			<%= fecha  %>
		</span>
	</div> 
</div>			  
<div class="clear article_font"> 
	<%= header %>
	<br/>
</div>	
</header>
<section class='article_font'>
	<%= section %>
</section>
<footer class='article_font' style="border-bottom:1px dotted orange; padding-bottom:10px;">
	<%= footer %>
</footer>
<div class="fb-comments" data-href="<%= url_public  %>" data-num-posts="5" data-width="100%"></div>
</article>
</div>
</script>


<script type="text/javascript">
	
	$(function(){ 
		App.start();
		
		//ui event listeners
		//nChangeSortOrder = function()
		//{
		//	App.sortBy($('#sortField').val(), $('#sortOrder').val());
		//}
		
		//ui event listeners
		onTituloFilter=function()
		{
			App.filterBy($('#titulo').val());
		}
		
	});
</script>
</html>
