<MarketplaceDetails>
  <SmallAppTile>Ventana.png</SmallAppTile>
  <ScreenShots>wp_ss_0005_WVGA.png;wp_ss_0003_WVGA.png;wp_ss_0002_WVGA.png;wp_ss_0001_WVGA.png;;;;;</ScreenShots>
  <ScreenShotsWXGA>wp_ss_0005_WXGA.png;wp_ss_0003_WXGA.png;wp_ss_0002_WXGA.png;wp_ss_0001_WXGA.png;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>wp_ss_0005.png;wp_ss_0002.png;wp_ss_0001.png;wp_ss_0003.png;;;;;</ScreenShots720P>
</MarketplaceDetails>